* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    outline: none; 
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s linear;
}

.main {
    background-color: white;
    padding: 15px 9%;
    padding-bottom: 100px;

}

.main,
.title {
    text-align: center;
    padding-bottom: 15px;
    color: black;
    font-size: 100px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 50px;
}

.icecreams {
    font-size: 15px;
    border: 2px solid black;
    padding: 10px;
}

.buttom {
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}
