* {
    margin: 0;
    padding: 0;
}

.flag {
    justify-content: center;
    border: 1px solid black;
}

table {
    width: 2000px;
    height: 950px;
}

table, td {
    border: solid 0px;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background: red;
}

tr:nth-child(even) {
    background: white;
}

img {
    position: absolute;
    margin-top: 0px;
}