* {
    margin: 0;
    padding: 0;
}

table {
    width: 1690px;
    height: 963px;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background: #D01110;
}

tr:nth-child(even) {
    background: white;
}

img {
    position: absolute;
    margin-top: 0px;
}